@use '../../../assets/scss/abstracts/variables/colors';

.root {
  width: 100%;
  min-height: 400px;

  & img {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .call-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map-get(colors.$color-map, 'white');
    height: 100%;

    & img {
      width: 40px;
    }
  }
}
