$color-map: (
  "white": #FFF,
  gray-100: #ECECEC,
  gray-200: #979797,
  gray-300: #898282,
  gray-400: #2B2B2B,
  gray-500: #181818,
  gray-600: #020106,
  gray-700: #060606,
  "black": #000,
  blue-100: #0045A9)