$color-map: (
  "white": #FFF,
  gray-100: #ECECEC,
  gray-200: #C7C7C7,
  gray-300: #A8A8A8,
  gray-400: #979797,
  gray-500: #898282,
  gray-600: #7A7A7A,
  gray-700: #2B2B2B,
  gray-800: #181818,
  gray-900: #020106,
  gray-1000: #060606,
  "black": #000,
  blue-100: #0045A9,
  blue-200: #0065B3
  )