@use "../../assets/scss/abstracts/variables/colors";

.process-wrapper {
    .process {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.arrow-wrapper {
    margin-top: 60px;
}
